@import url('https://fonts.googleapis.com/css?family=Dosis:500,600|Poppins:200,300,500,600&display=swap');

body{
  background-color: #F8F8F8 !important;
  color: #576B94 !important;
  font-family: "Dosis", sans-serif !important;
  margin: 0px !important;
  padding: 0px !important;
}
.row {
  margin: 0px !important;
}

  .activeBPLink, input[type="file"] {
    background: #FCB858 !important;
    color: white !important;
    background-image: linear-gradient(#F7A501, #EF6800) !important;
    transition: all .2s;
    /* box-shadow: 2px 2px 2px 1px #FCB858 !important; */
  }
  .activeBPLink:hover {
    transform: translateY(-2px);
  }
.default {
  color: #EF6800 !important;
  border: 1px solid #EF6800 !important;
  transition: all .2s;
}
.default:hover {
  transform: translateY(-2px);
}
.blue {
  color: white !important;
  background-image: linear-gradient(#75ACFF, #559CDF) !important;
  transition: all .2s;
}
.blue:hover {
  transform: translateY(-2px);
  background-image: linear-gradient(#559CDF, #75ACFF) !important;
}
.green {
  transition: all .2s;
  color:  white !important;
  background-image: linear-gradient(#59E3BC, #39C39C) !important;
}
.green:hover {
  transform: translateY(-2px);
  background-image: linear-gradient(#39C39C, #59E3BC) !important;
}
.red {
  transition: all .2s;
  color:  white !important;
  background-image: linear-gradient(red, darkred) !important;
}
.red:hover {
  transform: translateY(-2px);
  background-image: linear-gradient(darkred, red) !important;
}
.modal, .modal-content {
  border-radius: 40px !important;
  padding: 30px !important;
}
.records {
  padding: 50px !important;
  height: 200px !important;
  color: #555;
  /*background-image: linear-gradient(#ffffff, #efefef) !important; */
  background-color: #efefef;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.records:hover {
  color: #fff;
  background-color: #EF6800;
  transform: translateY(-5px);
  /*background-image: linear-gradient(#F7A501, #EF6800) !important; */
}
.heading {
  padding: 15px 30px;
  background: white;
  border-radius: 20px;
  width: 100% !important;
  margin-bottom: 30px !important;
}

ul, li {
  list-style: none;
  font-size: 18px;
}

.goal_list > ul > li {
  list-style: none;
  background-color: #ffffff;
  padding: 20px;
  display: inline-block;
  text-align: center;
  margin: 0px 20px 20px 10px;
  height: auto;
  vertical-align: middle;
  width: 45%;
  border-radius: 17px;
}
.goal_list > ul > li a {
  transition: all 0.5s ease;
}
.goal_list > ul > li a:hover {
  transform: translateY(-3px);
}

tbody tr {
  transition: all .2s;
  font-size: 14px !important;
  width: 100% !important;
}
tbody tr:hover {
  background-color: #ffffff;
  box-shadow: 1px 1px 20px #AAA;
  cursor: pointer;
  /*border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;*/
  transform: scale(1);
  /*-webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;*/
  margin-left: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #sidebar {
    min-height: calc(100vh);
    /* min-height: calc(100vh - 50px); */
    background-color: #111;
    color: #707070 !important;
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif !important;
  }
  .list-group-item {
    background-color: #111 !important;
    width: 100% !important;
  }
  a.list-group-item {
    color: #707070 !important;
    text-decoration: none !important;
    transition: all .5s;
  }
  .list-group-items {
    background-color: #ffffff !important;
  }
  a.list-group-item:hover {
    color: #fcfcfc !important;
    background-color: #222 !important;
    transform: scale(1.05);
    color: #F8A602 !important;
  }
  .menu_icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .menu_icon:hover, .nav-link, #Group_133 {
    fill: #F8A602 !important; 
  }
  .round_box {
    border: 1px solid #F8A602;
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  /*.round_box:hover {
    background: #F8A602;
    color: #FFF;
  }*/
  .round_box > h3 {
    color: #F8A602;
  }
  /*.round_box > h3:hover {
    color: #FFF;
  }*/
  .corner {
    border-radius: 30px;
  }
  #mainOne {
    width: 98% !important;
    /* border: 1px solid #ccc; */
  }
  .mybox {
    border-radius: 30px;
    background:#FDFDFD url('../img/box_bg.jpg');
  }
  #mybox_gauge {
    height: 200px !important;
  }
  img.rounded {
    border-radius: 40px !important;
    height: 50px;
    width: 120px;
  }
  #mlogo {
    display: none;
  }
  .img-rounded {
    height: 50px !important;
    width: 160px !important;
    /*margin-left: 20px;*/
  }
  .profile {
    height: 50px;
    /*border-radius: 10px !important;*/
    width: 50px;
    overflow: hidden;
    /*border: 2px solid #F8A602;*/
  }
  .profile1 {
    margin-left: -10px !important;
    border: 2px solid #F8A602;
  }
  .input-group-text, .input-group-append {
    background-color: #F8A602 !important;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .input-group {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .form-control {
    border: 0px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
  }
  .box {
    /*border: 1px solid #AAA;*/
    width: 20%;
    border-radius: 20px;
    padding: 3% 10px;
    display: inline-block;;
    box-shadow: 2px 2px 10px #CCC;
    background-color: white;
    margin: 20px 15px;
  }

  input[type=search] {
    box-shadow: 2px 2px 15px #CCC;
  }
  select.form-control {
    box-shadow: 2px 2px 15px #CCC;
  }
  .box ul li {
    list-style: none;
    margin-left: -30px;
  }
  .input-group {
    border: 3px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  span.input-group-append, i.fa.fa-search {
    background-color: #F8A602 !important;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  img.profile1, .profile1 {
    height: 100px !important;
    border-radius: 20px !important;
    width: 100px !important;
    margin-left: 15px !important;
    overflow: hidden;
    background-color: #ffffff !important;
    border: 0px !important;
  }
  img#cog {
    height: 20px;
  }
  h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px !important;
  }
  p, button, a {
    font-size: 13px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none !important;
  }

  .button {
    background: white;
  }

  .btn1 {
    padding-right:30px !important;
    padding-left:30px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    border-radius: 20px;
  }
  .btn2 {
    padding-right:20px !important;
    padding-left:20px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    border-radius: 20px;
    font-size: 12px !important;
    box-shadow: 2px 2px 2px 1px #f0f0f0;
  }
  .btn-warning {
    background-color: #FCB858 !important;
    color: white !important;
  }
  .bootstrap-select>.dropdown-toggle {
    width: 110px !important;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px #f0f0f0;
    font-size: 13px;
  }
  .card {
    font-family: 'Dosis', sans-serif;
  }
  .card-header h2 {
    color: #576B94;
    font-size: 20px !important;
  }
  .icon:hover {
    fill: #AA3322;
  }

.mtop {
  margin-top: -120px !important;
  margin-left: 75px !important;
  width: 160px;
  z-index: 100000 !important;
}
/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F8A602;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F8A602;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Upload File Style */
.foo {
    display: block;
    position: relative;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    border: 0;
    width: 80px;
    outline: 0;
    height: 30px;
}
.foo:hover:after {
    background-image: linear-gradient(#F7A501, #EF6800) !important;
    color: #FFF;
}
.foo:after {
    transition: 200ms all ease;
    /*border-bottom: 3px solid rgba(0,0,0,.2);*/
    background: #fff;
    border-radius: 20px;
    border:1px solid #F8A602;
    /*text-shadow: 0 2px 0 rgba(0,0,0,.2);*/
    color: #F8A602;
    /*font-size: 20px;*/
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: 'File';
    /*line-height: 60px;*/
    /*border-radius: 5px;*/
}
/* End Upload File Style */

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End Toggle Switch */
  /* Gauge */
  #wrapper{
    width: 300px;
    height: 250px;
    margin-top: 0%;
    padding: 0px !important;
    margin-right: 50px;
    padding-bottom: -100px !important;
    }
    
    #meter{
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
    z-index: 100;
    }
    .circle {
    fill: none;
    }
    .outline, #mask {
    stroke: #F1F1F1;
    stroke-width: 50;
    }
    #meter_needle {
        height: 40%;
        left: 8px !important;
        /* margin: auto; */
        position: absolute !important;
        top: 1px !important;
        transform-origin:bottom !important;
        transform: rotateZ(0deg) !important;
        transform: rotateX(180deg) !important;
    }
    /* End Gauge */

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


/* Mobile Device */
  @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .cover-width {
    margin: 0px !important;
    padding: 0px !important;
  }
  .settings, .logout {
    display: none;
    visibility: hidden;
  }

  #sidebar {
    display: none !important;
    /* width: 0px !important; */
  }
  #mlogo {
    display: inline-block !important;
    text-align: center !important;
    margin-bottom: 40px !important;
    border-radius: 5px;
  }

  .top-link {
    width: 100% !important;
    margin-left: 25px !important;
  }
  .col-md-6 {
    width: 50% !important;
  }
  button {
    display: inline-block;
    width: 100% !important;
    margin-bottom: 4px !important;
  }
  .text-sm-center {
    width: 100% !important;
    /*margin-left: 25px !important;*/
  }
  #img-logo {
    width: 250px !important;
  }
  #settings {
    margin-top: -200px !important;
  }
  .nav-item, a.nav-link {
    color: #707070 !important;
    text-decoration: none !important;
    padding-left: 10px;
    transition: all .2s;
    cursor: pointer;
  }
  .nav-item:hover, a.nav-link:hover {
    color: #fcfcfc !important;
    padding-left: 4px;
    background-color: #222 !important;
    transform: scale(1.01);
  }
  .activate a {
    color: white !important;
  }
  .navbar-toggler-icon {
    cursor: pointer !important;
  }
  #systolic {
    margin-left: -100px !important;
    width: 80%;
  }
  .box {
    /*border: 1px solid #AAA;*/
    width: 80%;
    border-radius: 20px;
    padding: 10% 10px;
    display: inline-block;;
    box-shadow: 2px 2px 10px #CCC;
    background-color: white;
    margin: 20px 15px;
  }
  .shade {
    box-shadow: 2px 2px 10px #CCC !important;
    border:1px solid #ccc !important;
  }
  .box ul li {
    list-style: none;
    margin-left: -30px;
  }
  .goal_list > ul > li {
    width: 90% !important;
  }
  .top_mobile_margin {
    margin-top: 30px !important;
  }
}